<div class="container form">
  <h1 class="page-title">New Post</h1>
  
  <%= form_with model: @post do |form| %>
  
    <div class="field title">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-field" %>
      <% @post.errors.full_messages_for(:title).each do |msg| %>
        <div id="error-explanation"> <%= msg %> </div>
      <% end %>
    </div>
  
    <div class="field body">
      <%= form.label :body %>
      <%= form.text_area :body, class: "form-field" %>
      <% @post.errors.full_messages_for(:body).each do |msg| %>
        <div id="error-explanation"> <%= msg %> </div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit "Create Post", class: "btn" %>
    </div><br>
  
    <%= link_to 'Cancel', root_path, class: "btn btn-link" %>
  <% end %>
</div>